
@{ ViewData["Title"] = "Contact"; }
<form>
    <h1>Our email : proiect@cursurionline.com </h1>
    <h2> You can also find us at :</h2>
    <h3> Mobile : 1111111111111111</h3>
    <h3> 0243111111111111</h3>
    <h3> From EU : +33sjdcdjcbskdcsb</h3>
    <img src="\img\happy.jpg" alt="HTML5 Icon" style="width:200px;height:200px;"/>
</form>
